<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173691865836-51iqc3e07ufv35p88om82sa6pi7o8lvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173691865836-51iqc3e07ufv35p88om82sa6pi7o8lvr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>173691865836-8ph29736gs2ds9na5mmdtee1q2ic9rl3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJV6-ZS-yU1fI5IfnnzHCytSTwrfgn6X8</string>
	<key>GCM_SENDER_ID</key>
	<string>173691865836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rottava.gochef</string>
	<key>PROJECT_ID</key>
	<string>gochefbrave</string>
	<key>STORAGE_BUCKET</key>
	<string>gochefbrave.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173691865836:ios:f478cf4b85f684b3</string>
	<key>DATABASE_URL</key>
	<string>https://gochefbrave.firebaseio.com</string>
</dict>
</plist>